.wrapper {
    margin-top: 2rem;
    font-family: "Prompt", sans-serif;
}

.tabHeaders {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

.tabButton {
    background: none;
    border: none;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
    padding-bottom: 0.3rem;
    position: relative;
}

.active {
    font-weight: 500;
    color: #000;
    border-bottom: 2px solid #4caf50;
}

.tabContent {
    margin-top: 2rem;
}