.sidebar {
    width: 250px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    font-weight: bold;
    font-size: 1rem;
}

.resetButton {
    background: none;
    border: none;
    color: #63a69f;
    font-weight: bold;
    cursor: pointer;
}